<!DOCTYPE html>
<html>
  <head>
    <title>Test</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{ form.media }}
  </head>
  <body>
    <form class="bankid-form" id="sign-form" method="POST">
        {% csrf_token %}
        {{ form }}
      <button id="submit">Submit</button>
    </form>
  </body>
</html>