{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Home" %}
{% endblock %}

{% block content %}

    {% if user_logged_in %}
        <a href="{% url "add_order" %}">{% trans "Add order" %}</a>
        <a href="{% url "logout" %}">{% trans "Logout" %}</a>
    {% else %}
        <a href="{% url "login" %}">{% trans "Login" %}</a>
    {% endif %}

    <h>{% trans "Number of orders:" %} {{ order_count }}</h>

{% endblock content %}