{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Sign In" %}
{% endblock %}

{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {{ form.media }}
{% endblock %}

{% block content %}

    <h1>{% trans "Sign In" %}</h1>

    <form class="bankid-form" id="login-form" method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form }}
      <button id="bankIDlogin">{% trans "Sign In" %}</button>
    </form>

{% endblock content%}