{% load i18n %}

<div id="start_bankid_message" style="display: none;">
    <div id="bankid_status">{% trans "Start your BankID app." %}</div>
    <div id="bankid_start" style="display: none;">{% trans "Start MobileBankID on this Device." %}</div>
    <div id="bankid_cancel">{% trans "cancel" %}</div>
</div>